In [1]:
# basic import statements
import os
import re
import gc
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import collections
warnings.filterwarnings("ignore")
from datetime import date 

#set max display in notebook
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#Show multiple output in console
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
# read the csv file 
df = pd.read_csv('2021_Data.csv')
df.shape
df.head()

(6604971, 17)

          SKU CONDITION  SIZE GENDER                   SOLD_AT  SOLD_PRICE  SOURCE  SIZE_VALUE   BRAND                                   NAME                                        COLORWAY   COLOR    SILHOUETTE  RETAILPRICE RELEASEDATE IS_COLLAB COLLABORATOR
0  CD4385-800    is_new  10.5    men  2021-01-10T05:49:58.793Z       240.0   alias        10.5    Nike     Nike Air Zoom Victory Bright Mango  Bright Mango/Purple Pulse/Black/Blackened Blue  orange  Zoom Victory        180.0  2020-12-06     False          NaN
1  DD1399-101    is_new   7.5    men      2021-12-13T14:37:24Z       236.0  stockx         7.5    Nike         Nike Dunk High Syracuse (2021)                              White/Orange Blaze   white          Dunk        110.0  2021-03-10     False          NaN
2  BQ7666-100    is_new    10    men      2021-07-12T07:12:01Z       169.0  stockx        10.0  Jordan  Jordan 8 SP Retro SE White Multicolor                           White/Black-Red Orbit   white  Air Jordan 8        225.0  2019-09-18     False          NaN
3  CK7214-100    is_new  11.5    men      2021-08-02T06:35:16Z       140.0  stockx        11.5    Nike     Nike Air Force 1 Low '07 LV8 White                               White/White/White   white   Air Force 1        110.0  2020-07-20     False          NaN
4  BQ6806-115    is_new     7    men      2021-06-21T20:46:04Z       123.0  stockx         7.0    Nike  Nike Blazer Mid 77 Vintage Pine Green                                White/Pine Green   white        Blazer        100.0  2021-01-22     False          NaN

In [3]:
# grouoing the data by SKU, Size, Condition 
dff = df.groupby(['SKU', 'SIZE', 'CONDITION'])
dff.head()

                SKU CONDITION  SIZE GENDER                   SOLD_AT  SOLD_PRICE  SOURCE  SIZE_VALUE          BRAND                                             NAME                                           COLORWAY   COLOR             SILHOUETTE  RETAILPRICE RELEASEDATE IS_COLLAB COLLABORATOR
0        CD4385-800    is_new  10.5    men  2021-01-10T05:49:58.793Z       240.0   alias        10.5           Nike               Nike Air Zoom Victory Bright Mango     Bright Mango/Purple Pulse/Black/Blackened Blue  orange           Zoom Victory        180.0  2020-12-06     False          NaN
1        DD1399-101    is_new   7.5    men      2021-12-13T14:37:24Z       236.0  stockx         7.5           Nike                   Nike Dunk High Syracuse (2021)                                 White/Orange Blaze   white                   Dunk        110.0  2021-03-10     False          NaN
2        BQ7666-100    is_new    10    men      2021-07-12T07:12:01Z       169.0  stockx        10.0         Jordan            Jordan 8 SP Retro SE White Multicolor                              White/Black-Red Orbit   white           Air Jordan 8        225.0  2019-09-18     False          NaN
3        CK7214-100    is_new  11.5    men      2021-08-02T06:35:16Z       140.0  stockx        11.5           Nike               Nike Air Force 1 Low '07 LV8 White                                  White/White/White   white            Air Force 1        110.0  2020-07-20     False          NaN
4        BQ6806-115    is_new     7    men      2021-06-21T20:46:04Z       123.0  stockx         7.0           Nike            Nike Blazer Mid 77 Vintage Pine Green                                   White/Pine Green   white                 Blazer        100.0  2021-01-22     False          NaN
...             ...       ...   ...    ...                       ...         ...     ...         ...            ...                                              ...                                                ...     ...                    ...          ...         ...       ...          ...
6604841      S79160    is_new     6    men      2021-03-13T20:01:26Z       139.0  stockx         6.0         adidas                         adidas NMD R1 Light Onix                        Light Onyx/Light Onyx/White    grey             NMD Runner        130.0  2016-03-16     False          NaN
6604896  315371-300    is_new    14    men      2021-09-19T18:20:31Z       174.0  stockx        14.0         Jordan                      Jordan Spizike Olive Canvas                 Olive Canvas/Cone-Black-Light Bone   green         Jordan Spizike        175.0  2018-09-19     False          NaN
6604898  BQ7043-892    is_new   9.5  women  2021-06-17T04:38:42.551Z        95.0   alias         9.5           Nike       Nike Air Zoom Superrep Guava Ice (Women's)  Guava Ice/Platinum Violet/Sail/Metallic Red Br...    pink      Air Zoom SuperRep        120.0  2020-08-10     False          NaN
6604900  642849-471    is_new    14    men      2021-10-28T13:23:27Z       150.0  stockx        14.0           Nike                        Nike LeBron 11 Low Sprite                                 Hyper Cobalt/White    blue              LeBron 11        170.0  2014-07-12     False          NaN
6604947      1A54H5    is_new    10    men      2021-07-16T04:11:04Z      2541.0  stockx        10.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey                                         Black/Grey   black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN

[1270187 rows x 17 columns]

In [ ]:
# # Code to make filter 
# # Define a condition to filter groups (for example, keep groups where the average SOLD_PRICE is greater than 85)
# condition = lambda group: (group['SKU'] == '4078689').any()

# # Apply the filter
# filtered_data = dff.filter(condition)

# # Display the filtered data
# filtered_data.head(100)

In [ ]:
# # Access columns of a specific group (for example, the first group)
# first_group = dff.get_group(list(dff.groups.keys())[0])
# print(first_group.columns)

In [4]:
# grouped data nad assigning the value to the columns 
grouped_data = dff.agg({
    'BRAND': 'first',  
    'COLOR': 'first',  
    'SILHOUETTE': 'first',  
    'IS_COLLAB': 'first',  
    'SOLD_PRICE': 'mean',
    'RETAILPRICE': 'first'
}).reset_index()

In [5]:
# getting the count of the SKU's
grouped_data['SKU_COUNT'] = dff['SKU'].transform('count')

In [6]:
grouped_data.columns = ['SKU', 'Size', 'Condition', 'Brand', 'Color', 'Silhouette', 'Collab','Average_Price','Retail_Price','SKU_Count']

In [7]:
grouped_data.shape
grouped_data.head()

(421015, 10)

             SKU  Size       Condition Brand  Color              Silhouette Collab  Average_Price  Retail_Price  SKU_Count
0  -1H70-291-002   6.5          is_new  None   None                    None   None         570.00           NaN        2.0
1    -924453-004    10  is_gently_used  Nike  black  Nike Air VaporMax Plus  False         113.75         200.0      311.0
2    -924453-004    10          is_new  Nike  black  Nike Air VaporMax Plus  False         255.80         200.0       78.0
3    -924453-004    10         is_used  Nike  black  Nike Air VaporMax Plus  False          72.00         200.0       18.0
4    -924453-004  10.5  is_gently_used  Nike  black  Nike Air VaporMax Plus  False         147.50         200.0       49.0

In [8]:
# sorting by the SKU count to know whta is the highly sold SKU
grouped_data = grouped_data.sort_values(by=['SKU_Count'], ascending=False)
grouped_data.head()

               SKU  Size Condition   Brand   Color          Silhouette Collab  Average_Price  Retail_Price  SKU_Count
65831   510815-100     6    is_new  Jordan   white       Air Jordan 12  False      285.00000         140.0     3602.0
386480      H01011  5.5W    is_new  Reebok    pink              Club C  False      135.00000         100.0     3602.0
175380  AV3800-440  10.5    is_new    Nike    blue         Air Force 2  False      124.37500         100.0     3602.0
51036    375958-02  11.5    is_new    Puma   black  Calibrate Restored  False      200.00000         140.0     3602.0
189679  BQ3177-500    10    is_new    Nike  purple           LeBron 17  False      299.96875         200.0     3602.0

In [9]:
# calculating the Percentage_Difference 
# formula used :- ((Avg_price - Retail_proce) / Retail_price) * 100
grouped_data['Percentage_Difference'] = (grouped_data['Average_Price'] - grouped_data['Retail_Price']) / grouped_data['Retail_Price'] * 100
grouped_data.shape
grouped_data.head()

(421015, 11)

               SKU  Size Condition   Brand   Color          Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference
65831   510815-100     6    is_new  Jordan   white       Air Jordan 12  False      285.00000         140.0     3602.0             103.571429
386480      H01011  5.5W    is_new  Reebok    pink              Club C  False      135.00000         100.0     3602.0              35.000000
175380  AV3800-440  10.5    is_new    Nike    blue         Air Force 2  False      124.37500         100.0     3602.0              24.375000
51036    375958-02  11.5    is_new    Puma   black  Calibrate Restored  False      200.00000         140.0     3602.0              42.857143
189679  BQ3177-500    10    is_new    Nike  purple           LeBron 17  False      299.96875         200.0     3602.0              49.984375

In [10]:
# getting the nulls 
(grouped_data.isnull().sum() / len(grouped_data)) * 100

SKU                      0.000000
Size                     0.000000
Condition                0.000000
Brand                    0.178141
Color                    0.398323
Silhouette               0.188354
Collab                   0.178141
Average_Price            0.000000
Retail_Price             0.178141
SKU_Count                0.565538
Percentage_Difference    0.178141
dtype: float64

In [11]:
# dropping the nulls to attain the proper percentage diff 
# before dropping - size = 421015
# after dropping - size = 416923
# total loss - 4,092
grouped_data.dropna(inplace=True)
grouped_data.shape
grouped_data.head()

(416923, 11)

               SKU  Size Condition   Brand   Color          Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference
65831   510815-100     6    is_new  Jordan   white       Air Jordan 12  False      285.00000         140.0     3602.0             103.571429
386480      H01011  5.5W    is_new  Reebok    pink              Club C  False      135.00000         100.0     3602.0              35.000000
175380  AV3800-440  10.5    is_new    Nike    blue         Air Force 2  False      124.37500         100.0     3602.0              24.375000
51036    375958-02  11.5    is_new    Puma   black  Calibrate Restored  False      200.00000         140.0     3602.0              42.857143
189679  BQ3177-500    10    is_new    Nike  purple           LeBron 17  False      299.96875         200.0     3602.0              49.984375

In [12]:
grouped_data.sort_values(by=['Percentage_Difference'], ascending=False)

                         SKU  Size       Condition      Brand  Color                   Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference
182623                BB0534  10.5          is_new     adidas   blue                GT Manchester  False          393.0           0.0      464.0                    inf
384194                GZ5551   5.5          is_new     adidas  green                 Yeezy Slides   True          248.6           0.0      182.0                    inf
300451                DB2564    10          is_new     adidas   pink                    Tennis Hu   True           50.0           0.0     1124.0                    inf
404603  OMIA151F20LEA0010551    45          is_new  OFF-WHITE   grey  Off-White Off Court Low Top  False          520.0           0.0      629.0                    inf
40411             316418-102    12          is_new       Nike  white                       Cortez  False           83.0           0.0       14.0                    inf
...                      ...   ...             ...        ...    ...                          ...    ...            ...           ...        ...                    ...
61368             440888-600   5.5          is_new     Jordan    red                 Air Jordan 5  False            6.0         140.0      395.0             -95.714286
57494                4078689    46          is_new   Burberry  white               Burberry Regis  False           29.0         770.0       13.0             -96.233766
125658            921826-404   8.5         is_used       Nike   blue                   Air Max 97  False            5.0         160.0        1.0             -96.875000
152379            AO4606-001    12  is_gently_used       Nike  black                  Air Force 1   True            1.0         170.0       10.0             -99.411765
185797                BB7076   9.5         is_used     adidas  white                   UltraBoost  False            1.0         200.0      217.0             -99.500000

[416923 rows x 11 columns]

In [13]:
# Surprisingly I found there is retail price - 0 
# so i wanted to analyse the data where there is no 0 in the retail price 
# data loss - 11,380
grouped_data_new = grouped_data[grouped_data['Retail_Price'] != 0]
grouped_data_new.shape
grouped_data_new.head()

(405543, 11)

               SKU  Size Condition   Brand   Color          Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference
65831   510815-100     6    is_new  Jordan   white       Air Jordan 12  False      285.00000         140.0     3602.0             103.571429
386480      H01011  5.5W    is_new  Reebok    pink              Club C  False      135.00000         100.0     3602.0              35.000000
175380  AV3800-440  10.5    is_new    Nike    blue         Air Force 2  False      124.37500         100.0     3602.0              24.375000
51036    375958-02  11.5    is_new    Puma   black  Calibrate Restored  False      200.00000         140.0     3602.0              42.857143
189679  BQ3177-500    10    is_new    Nike  purple           LeBron 17  False      299.96875         200.0     3602.0              49.984375

In [14]:
# Add a new column 'Resale_Flag' based on the specified thresholds set on the percentage_difference column
flagged_data=grouped_data_new.copy()

flagged_data['Resale_Flag'] = flagged_data['Percentage_Difference'].apply(lambda x: 'Very_Premium_Resale' if x >= 100 else
                                                           'Premium_Resale' if 75 <= x < 100 else
                                                           'Likely_Premium' if 50 <= x < 75 else
                                                           'Mediumly_Premium' if 25 <= x < 50 else
                                                           'Chance_of_Premium' if 0 < x < 25 else               
                                                           'Not Premium' if -40 <= x < 0 else
                                                           'Not Premium' if x == 0 else
                                                           'Unknown')


flagged_data.shape
flagged_data.head()

(405543, 12)

               SKU  Size Condition   Brand   Color          Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference          Resale_Flag
65831   510815-100     6    is_new  Jordan   white       Air Jordan 12  False      285.00000         140.0     3602.0             103.571429  Very_Premium_Resale
386480      H01011  5.5W    is_new  Reebok    pink              Club C  False      135.00000         100.0     3602.0              35.000000     Mediumly_Premium
175380  AV3800-440  10.5    is_new    Nike    blue         Air Force 2  False      124.37500         100.0     3602.0              24.375000    Chance_of_Premium
51036    375958-02  11.5    is_new    Puma   black  Calibrate Restored  False      200.00000         140.0     3602.0              42.857143     Mediumly_Premium
189679  BQ3177-500    10    is_new    Nike  purple           LeBron 17  False      299.96875         200.0     3602.0              49.984375     Mediumly_Premium

In [15]:
flagged_data.Resale_Flag.value_counts(normalize=True)*100

Resale_Flag
Not Premium            32.020279
Chance_of_Premium      17.727837
Very_Premium_Resale    13.991118
Mediumly_Premium       13.363811
Unknown                 9.451279
Likely_Premium          8.367054
Premium_Resale          5.078623
Name: proportion, dtype: float64

In [16]:
flagged_data.Condition.value_counts(normalize=True)*100

Condition
is_new              92.947480
is_gently_used       4.221747
is_used              2.453501
is_worn              0.257186
Brand New            0.096167
New (Other)          0.017261
is_not_specified     0.006658
Name: proportion, dtype: float64

In [17]:
flagged_data[flagged_data.Resale_Flag=='Very_Premium_Resale']

               SKU  Size Condition   Brand   Color                 Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference          Resale_Flag
65831   510815-100     6    is_new  Jordan   white              Air Jordan 12  False     285.000000         140.0     3602.0             103.571429  Very_Premium_Resale
76970   555088-010     9    is_new  Jordan   black               Air Jordan 1  False    1264.500000         140.0     3602.0             803.214286  Very_Premium_Resale
101830  801621-661  10.5    is_new    Nike     red                        GTS  False     195.250000          88.0     3602.0             121.875000  Very_Premium_Resale
321570  DJ0950-100   4.5    is_new    Nike   white                       Dunk  False     685.625000         180.0     3602.0             280.902778  Very_Premium_Resale
121807  908972-100     7    is_new    Nike   white                 Mamba Rage   True     288.000000         100.0     3602.0             188.000000  Very_Premium_Resale
...            ...   ...       ...     ...     ...                        ...    ...            ...           ...        ...                    ...                  ...
229506  CJ0781-800    12    is_new  Jordan  orange  Jordan Westbrook One Take  False     205.000000          90.0        1.0             127.777778  Very_Premium_Resale
76145   554725-301   6.5    is_new  Jordan   green               Air Jordan 1  False     289.666667          90.0        1.0             221.851852  Very_Premium_Resale
76075   554725-177     3    is_new  Jordan   black               Air Jordan 1  False     190.500000          95.0        1.0             100.526316  Very_Premium_Resale
76061   554725-174    7Y    is_new  Jordan   white               Air Jordan 1  False     365.142857          90.0        1.0             305.714286  Very_Premium_Resale
76049   554725-174  3.5Y    is_new  Jordan   white               Air Jordan 1  False     345.526316          90.0        1.0             283.918129  Very_Premium_Resale

[56740 rows x 12 columns]

In [18]:
flagged_data.head()

               SKU  Size Condition   Brand   Color          Silhouette Collab  Average_Price  Retail_Price  SKU_Count  Percentage_Difference          Resale_Flag
65831   510815-100     6    is_new  Jordan   white       Air Jordan 12  False      285.00000         140.0     3602.0             103.571429  Very_Premium_Resale
386480      H01011  5.5W    is_new  Reebok    pink              Club C  False      135.00000         100.0     3602.0              35.000000     Mediumly_Premium
175380  AV3800-440  10.5    is_new    Nike    blue         Air Force 2  False      124.37500         100.0     3602.0              24.375000    Chance_of_Premium
51036    375958-02  11.5    is_new    Puma   black  Calibrate Restored  False      200.00000         140.0     3602.0              42.857143     Mediumly_Premium
189679  BQ3177-500    10    is_new    Nike  purple           LeBron 17  False      299.96875         200.0     3602.0              49.984375     Mediumly_Premium

In [ ]:
merged_df = pd.merge(df, flagged_data[['SKU', 'Resale_Flag']], on='SKU', how='left')
merged_df.shape
merged_df.head()

#### exporting to ecsv or exel

In [ ]:
merged_df.to_csv('Flagged_data.csv',index=False)

In [49]:
# illegal_characters = {'\x11', '\u200b', '\u200c', '\u200e', '–', '’'}
# for col in flagged_data.columns:
#     for value in flagged_data[col]:
#         if any(char in illegal_characters for char in str(value)):
#             print(f"Illegal character found in column '{col}': {value}")

Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': AA1233‌-700
Illegal character found in column 'SKU': AA1233‌-600
Illegal character found in column 'SKU': AA1233‌-700
Illegal character found in column 'SKU': 849557-041​
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': AA1233‌-600
Illegal character found in column 'SKU': 440890-104​
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': AA1233‌-600
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': AA1233‌-600
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': 440890-104​
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': AQ0928-700-SB
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': AA1233‌-700
Illegal character found in column 'SKU': AQ6101-001​
Illegal character found in column 'SKU': AA1233‌-700
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': AA1233‌-700
Illegal character found in column 'SKU': AA1233‌-600
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': AQ6101-001​
Illegal character found in column 'SKU': 849557-041​
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': AA1233‌-700
Illegal character found in column 'SKU': AQ6101-001​
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': 548950-9N020-8465-/-‎548950-9N050-8465
Illegal character found in column 'SKU': AQ0928-700-SB
Illegal character found in column 'SKU': 849557-041​
Illegal character found in column 'SKU': AQ6101-001​
Illegal character found in column 'SKU': AQ6101-001​
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': 431942-A38G0-9064/‎431942-02JP0-9064
Illegal character found in column 'SKU': AQ0928-700-SB
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 849557-041​
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': AA1233‌-600
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 440890-104​
Illegal character found in column 'SKU': DD8021–001
Illegal character found in column 'SKU': 849557-041​
Illegal character found in column 'SKU': 849557-041​
Illegal character found in column 'Size': men’s
Illegal character found in column 'Size': men’s

In [50]:
# flagged_data_cleaned = flagged_data.applymap(lambda value: clean_special_characters(value, illegal_characters))

In [61]:
# #DD8021–001

# x = df[df.SKU == '1A54H5']
# x.sort_values(by=['SOLD_AT'], ascending=True)

            SKU CONDITION SIZE GENDER                   SOLD_AT  SOLD_PRICE  SOURCE  SIZE_VALUE          BRAND                                             NAME    COLORWAY  COLOR             SILHOUETTE  RETAILPRICE RELEASEDATE IS_COLLAB COLLABORATOR
72292    1A54H5    is_new  8.5    men  2021-01-29T16:51:21.718Z      1725.0   alias         8.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
4293490  1A54H5    is_new    9    men      2021-02-11T18:52:46Z      2200.0  stockx         9.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
1085457  1A54H5    is_new   12    men      2021-02-12T11:26:37Z      1825.0  stockx        12.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
1295278  1A54H5    is_new  9.5    men  2021-03-06T23:20:18.539Z      1961.0   alias         9.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
4497876  1A54H5    is_new    9    men      2021-04-07T20:45:03Z      1261.0  stockx         9.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
1497052  1A54H5    is_new  5.5    men      2021-04-10T18:17:43Z      1400.0  stockx         5.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
5272044  1A54H5    is_new    9    men      2021-04-14T00:08:59Z      2300.0  stockx         9.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
1483707  1A54H5    is_new  5.5    men      2021-04-14T21:26:22Z      1621.0  stockx         5.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
6604947  1A54H5    is_new   10    men      2021-07-16T04:11:04Z      2541.0  stockx        10.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
1644044  1A54H5    is_new  9.5    men      2021-07-25T07:22:16Z      1944.0  stockx         9.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
3659141  1A54H5    is_new  4.5    men      2021-07-27T12:37:57Z      1399.0  stockx         4.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
5146412  1A54H5    is_new   12    men      2021-08-14T15:46:50Z      1555.0  stockx        12.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
6036980  1A54H5    is_new    5    men      2021-08-16T14:24:34Z      1372.0  stockx         5.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
2097313  1A54H5    is_new  7.5    men      2021-08-18T13:31:15Z      1805.0  stockx         7.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
6505842  1A54H5    is_new    7    men      2021-08-23T02:27:41Z      1872.0  stockx         7.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
6276440  1A54H5    is_new  7.5    men      2021-08-27T23:59:39Z      2000.0  stockx         7.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
4189292  1A54H5    is_new    7    men      2021-09-19T16:20:33Z      1801.0  stockx         7.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
3979861  1A54H5    is_new  7.5    men      2021-10-22T02:30:54Z      2129.0  stockx         7.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
2106600  1A54H5    is_new  7.5    men      2021-10-25T12:55:21Z      2100.0  stockx         7.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
663194   1A54H5    is_new    7    men      2021-10-26T15:08:36Z      2462.0  stockx         7.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
6322170  1A54H5    is_new  8.5    men      2021-12-05T11:40:00Z      2850.0  stockx         8.5  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN
1156724  1A54H5    is_new   12    men  2021-12-30T03:06:02.642Z      1900.0   alias        12.0  Louis Vuitton  Louis Vuitton LV Trainer Sneaker Low Black Grey  Black/Grey  black  Louis Vuitton Trainer       1200.0  2019-01-19     False          NaN

In [57]:
# flagged_data_cleaned.to_excel('flagged_data_cleaned.xlsx', index=False)

IllegalCharacterError: